<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Counter</title>
      <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
      <main>
        <article>
          <div class='counter-container'>
            <h3>Counter</h3>
    
            <p>
              <%= counter %> times.
            </p>
          </div>
        </article>
        <section>
          <aside>
            <form action="/by-two" method='post'>
              <input type="submit" value='+2'>
            </form>
          </aside>
          <aside>
            <form action="/reset" method='post'>
              <input type="submit" value='Reset'>
            </form>
          </aside>
        </section>
      </main>
    </body>
    </html>