.counter-container {
    text-align: center;
    margin-top: 10rem;
  }
  
  input[type=submit] {
    min-width: 100px;
  }
  
  form {
    margin: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
  }